<div class="main">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card-deck">
          <div class="card">
            <img src="..."  class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">this a wider card with supporting text below as a natral lead0i</p>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card-deck">
          <div class="card">
            <img src="..."  class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">this a wider card with supporting text below as a natral lead0i</p>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card-deck">
          <div class="card">
            <img src="..."  class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">this a wider card with supporting text below as a natral lead0i</p>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <div class="card-deck">
          <div class="card">
            <img src="..."  class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">this a wider card with supporting text below as a natral lead0i</p>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card-deck">
          <div class="card">
            <img src="..."  class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">this a wider card with supporting text below as a natral lead0i</p>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card-deck">
          <div class="card">
            <img src="..."  class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">this a wider card with supporting text below as a natral lead0i</p>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>